= form_for @user, url: update_password_users_path, html: {:class => "ui form"} do |u|
	%h4.ui.dividing.header
		Enter current password and new password
	.field
		= u.password_field :password, :placeholder => "New Password"
	.field
		= u.password_field :password_confirmation, :placeholder => "Confirm new password"
	.field
		= u.button 'Submit', :class => "ui button"