// Place all the styles related to the swits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "semantic-ui";

.tweet-limit {
	color: #9F3A38;
}

#new-swit-text {
	resize: none;
}

a {
	margin: 0 !important;
}